.header{
    height: 76px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-left{
    margin: 24px 0 24px 42px;
    color: #ffffff;
    display: flex;
    
}
.header-right{
    
    display: flex;
    margin: 25.5px 42px 25.5px 0px ;
    gap: 24px;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}